In [89]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [90]:
df_sess = pd.read_csv('dataset/sessions_train.csv')
# df_prod = pd.read_csv('products_train.csv')

In [91]:
df_sess['locale'].unique()
# df_sess.columns

array(['DE', 'JP', 'UK', 'ES', 'FR', 'IT'], dtype=object)

In [92]:
# df_prod_task1 = df_prod[df_prod['locale'].isin(['UK', 'DE', 'JP'])]
# df_prod_task1

In [93]:
df_sess_task2 = df_sess[df_sess['locale'].isin(['ES', 'FR', 'IT'])]
df_sess_task2
# these can be decreased to smaller datasets to try faster

                                                prev_items   next_item locale
3272716           ['B08MV5B53K' 'B08MV4RCQR' 'B08MV5B53K']  B012408XPC     ES
3272717                        ['B07JGW4QWX' 'B085VCXHXL']  B07JFPYN5P     ES
3272718           ['B08BFQ52PR' 'B08LVSTZVF' 'B08BFQ52PR']  B08NJP3KT6     ES
3272719  ['B08PPBF9C6' 'B08PPBF9C6' 'B08PPBF9C6' 'B08PP...  B08PP6BLLK     ES
3272720           ['B0B6W67XCR' 'B0B712FY2M' 'B0B6ZYJ3S2']  B09SL4MBM2     ES
...                                                    ...         ...    ...
3606244           ['B086CYFSKW' 'B0874F9859' 'B086CYFSKW']  B07B5TYD76     IT
3606245                        ['B09NRZKZ7V' 'B08WJTPV93']  B08L1P4C3D     IT
3606246                        ['B085JFX7MP' 'B085JGHW8R']  B01MPWVD44     IT
3606247                        ['B00B0UING2' 'B00B0UING2']  B00D3HYEZ4     IT
3606248  ['B092S9D1SD' 'B09XQQ1S72' 'B0852MS7QC' 'B0B1V...  B0B7RX65YP     IT

[333533 rows x 3 columns]

In [94]:
df_sess_task1 = df_sess[df_sess['locale'].isin(['UK', 'DE', 'JP'])]
df_sess_task1
# these can be decreased to smaller datasets to try faster

                                                prev_items   next_item locale
0                              ['B09W9FND7K' 'B09JSPLN1M']  B09M7GY217     DE
1        ['B076THCGSG' 'B007MO8IME' 'B08MF65MLV' 'B001B...  B001B4THSA     DE
2        ['B0B1LGXWDS' 'B00AZYORS2' 'B0B1LGXWDS' 'B00AZ...  B0767DTG2Q     DE
3        ['B09XMTWDVT' 'B0B4MZZ8MB' 'B0B7HZ2GWX' 'B09XM...  B0B4R9NN4B     DE
4                 ['B09Y5CSL3T' 'B09Y5DPTXN' 'B09FKD61R8']  B0BGVBKWGZ     DE
...                                                    ...         ...    ...
3272711  ['B06XK89969' 'B01NGT5NF4' 'B00D5Z89C8' 'B07ZV...  B07VL2W1DR     UK
3272712  ['B076M85W1K' 'B07L8792Q9' 'B095RW318L' 'B095R...  B095RQ2LCY     UK
3272713                        ['B00JQDIQRQ' 'B001O59QQE']  B088M5YT6Y     UK
3272714                        ['B07QMHMLJZ' 'B07FPYYMC4']  B07PFF814D     UK
3272715                        ['B06XC9TW57' 'B08WYQ4S11']  B08WZ4CSRQ     UK

[3272716 rows x 3 columns]

In [107]:
df_es = df_sess[df_sess['locale'] == 'ES']
# df_pure = df_es.drop(columns=['locale'])
df_pure = df_sess_task2.drop(columns=['locale'])

In [108]:
# print(df_pure.head(3)['prev_items'])
df_pure
type(df_pure['next_item'].iloc[0])

str

In [109]:
df = df_pure.copy()
df['prev_items'] = df["prev_items"].apply(lambda x: x.strip("[]").split(" "))
df['next_item'] = df["next_item"].apply(lambda x: x.strip("[]").split(" "))
type(df['next_item'].iloc[0])
df

                                                prev_items     next_item
3272716         ['B08MV5B53K', 'B08MV4RCQR', 'B08MV5B53K']  [B012408XPC]
3272717                       ['B07JGW4QWX', 'B085VCXHXL']  [B07JFPYN5P]
3272718         ['B08BFQ52PR', 'B08LVSTZVF', 'B08BFQ52PR']  [B08NJP3KT6]
3272719  ['B08PPBF9C6', 'B08PPBF9C6', 'B08PPBF9C6', 'B0...  [B08PP6BLLK]
3272720         ['B0B6W67XCR', 'B0B712FY2M', 'B0B6ZYJ3S2']  [B09SL4MBM2]
...                                                    ...           ...
3606244         ['B086CYFSKW', 'B0874F9859', 'B086CYFSKW']  [B07B5TYD76]
3606245                       ['B09NRZKZ7V', 'B08WJTPV93']  [B08L1P4C3D]
3606246                       ['B085JFX7MP', 'B085JGHW8R']  [B01MPWVD44]
3606247                       ['B00B0UING2', 'B00B0UING2']  [B00D3HYEZ4]
3606248  ['B092S9D1SD', 'B09XQQ1S72', 'B0852MS7QC', 'B0...  [B0B7RX65YP]

[333533 rows x 2 columns]

In [98]:
# concatenated_prev = np.concatenate(np.concatenate(df.prev_items.values.reshape(-1,1)).tolist()) 

# concatenated_next = np.concatenate(np.concatenate(df.next_item.values.reshape(-1,1)).tolist())

# concatenated = np.concatenate((concatenated_prev, concatenated_next))

# # len(concatenated)

# # concatenated_prev

# unique_items, unique_item_id = np.unique(concatenated, return_inverse=True)

# # len(unique_items)

# unique_items

# unique_item_id

In [111]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

df_temp = df

df_temp = df_temp.drop(['next_item'], axis=1)

df_temp = df_temp.rename(columns={"index":"SessionId"})
df_temp['SessionId'] = df_temp.index

df_temp = df_temp.explode('prev_items')
# df_temp = df_temp.explode('next_item')

df_temp = df_temp.rename(columns={"prev_items":"ItemId"})

df_temp['ItemId'] = le.fit_transform(df_temp.ItemId.values)

df_temp['Time'] = df_temp.groupby('SessionId').cumcount()
# df_temp['Time'] += 1

df_temp.to_csv('examp.csv', index=False)

csvv = pd.read_csv('examp.csv')
csvv.columns

Index(['ItemId', 'SessionId', 'Time'], dtype='object')

In [100]:
# a, b = np.unique(df_temp['next_item'].values, return_inverse=True)

# print(b)

# # codes, uniques = pd.factorize(['B012408XPC', 'B07JFPYN5P'])

# # uniques

In [101]:
# # print(type(df))
# from keras.utils.np_utils import to_categorical

# # len(unique_items)
# # print(to_categorical([[1,2,3] ,[1,2,4]], num_classes=10))
# print(to_categorical([[1,2,3] ,[1,2, 0]], num_classes=10))

# # # print(df_temp['prev_items'].iloc[0])
# # print(df_temp.values[0][0])
# # print(type(df_temp.values[0][0]))

# def one_hot(batch_items, unique_items):
#     batch_size = len(batch_items)
#     item_to_idx = {item: i for i, item in enumerate(unique_items)}
#     onehot = np.zeros((batch_size, len(unique_items)))
#     for i, itema in enumerate(batch_items):
#         for i, item in enumerate(itema):
#             if item in item_to_idx:
#                 onehot[i, item_to_idx[item]] = 1
#     return onehot

# def one_hot_batched(df, batch_size, unique_items):
#     n = df.shape[0]
#     batches = (n + batch_size - 1) // batch_size
#     onehot = np.zeros((0, unique_items.shape[0]))
#     # unique, inverse = np.unique(concatenated, return_inverse=True)
#     for i in range(batches):
#         start = i * batch_size
#         end = min(n, start + batch_size)
#         batch = df.iloc[start:end]['prev_items'].values
#         onehot_batch = one_hot(batch, unique_items)
#         print("onehot = ", onehot.shape, " onehot_batch = ", onehot_batch.shape)
#         onehot = np.concatenate([onehot, onehot_batch], axis=0)
#     return onehot

# one_hot_batched_df = one_hot_batched(df_temp, 512, unique_items)

In [102]:
# type(one_hot_batched_df[0][0])
# one_hot_batched_df.to_csv("data1.csv")
# one_hot_batched_df.tofile('data2.csv', sep = ',')
df
i = np.expand_dims([[1,2,3],[4,5,6],[7,8,9]], axis=0)
i

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [103]:
# train_n_items = len(df_pure['ItemId'].unique()) + 1

In [104]:
# click_offsets = self.dataset.click_offsets
# session_idx_arr = self.dataset.session_idx_arr
# iters = np.arange(self.batch_size) 
# start = click_offsets[session_idx_arr[iters]] 
# idx_target = df.item_idx.values[start] 
# # burasi feat yapıp doduruyo

# input_oh = to_categorical(feat, num_classes=loader.n_items)
# # burasi da categorical yapiyo
# # demekki feat integer arrayi

In [105]:
# df = pd.DataFrame({'SessionId': ['1', '1', '1', '2', '2', '3', '3'],
#                    'Time': ['0', '1', '2', '0', '1', '0', '1'],
#                    'ItemId': ['3', '8', '9', '15', '1', '4', '6']})
# df_tmp.to_csv('examp.csv', index=False)

In [106]:
# csvv = pd.read_csv('examp.csv')
# csvv.columns